html, body {
    box-sizing: border-box;

    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: hidden;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#c {
    width: 100%;
    height: 100%;
}

body {
    display: flex;

    justify-content: center;

    padding: 30px;

    background-color: lightcyan;
}

.app {
    width: 100%;
    max-width: 800px;
    padding: 25px;

    background-color: white;

    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
}

.app.square {
    box-sizing: border-box;

    width: 100%;
    max-width: min(calc(100vh - 60px), calc(100vw - 60px));
    height: 100%;
    max-height: min(calc(100vh - 60px), calc(100vw - 60px));
}

.app h1 {
    padding: 0;
    margin: 0;

    font-size: 22px;
}

.app ul {
    padding: 0;
    margin: 20px 0 0;

    list-style: none;
}

.app ul li {
    margin-bottom: 10px;
}

.app a:link, .app a:visited {
    display: inline-block;

    padding-bottom: 1.5px;

    color: black;

    text-decoration: none;

    border-bottom: 2px solid darkturquoise;

    transition: all 0.15s ease;
}

.app a:hover, .app a:active {
    color: darkturquoise; 
}

.back {
    position: absolute;
    top: 0; left: 0;

    display: flex;

    align-items: center;

    justify-content: center;

    width: 50px;
    height: 50px;

    font-size: 20px;
    color: black !important;
    text-decoration: none;

    cursor: pointer;

    background-color: paleturquoise;
    border-radius: 0 0 10px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
}

.m-0 {
    margin: 0;
}

.app ul.subtree {
    margin: 0 0 0 30px;
}

.keymap {
    position: absolute;
    top: 0;
    right: 0;

    display: flex;

    flex-direction: column;

    gap: 3px;

    padding: 20px;

    color: black !important;

    background-color: paleturquoise;
    border-radius: 0 0 0 10px;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
}
